.see{
    height: 65px;
    width: 100%;
    

}
.searchIcon{
        margin-top: 30px;
        margin-left: -30px;
}
.page{
    margin-top: -5px;
    
}
 .gg{
    margin-top: 200px;
    font-family: cursive;
    margin-top: 3px;
    
 }
 .ss{
    margin-top: 20px;
    margin-left: -20px;
    color: #f2b76a;
 }
 .dd{
    width: 65%;
    margin-left: 75px;
 }
 .tt{
    font-size: 63px;
    margin-left: -20px;
 }
 .ddd{
   position: relative;
   font-size: 70px;
   /* margin-left: 140px; */
   margin-top: 29px;
   color: rgb(201, 143, 69);

 }
 .btt{
   margin-left: 320px;
   margin-top: 55px;
 }
 .phot{
      border-radius: 40px;
      margin: 10px;
      width: 23%;
 }
 .star{
   margin-left: 10px;
   margin-top: -5px;
 }
 .off{
   font-family: cursive;
   font-size: 55px;
 }

 .up{
    
      font-size: 40px;
 }
 .txtImg{
  margin-left: 294px;
  margin-top: 90px;
 }
